mat-card {
  width: 380px;
  background: #b375e8;
  border: black solid 1px;

}

mat-card-content {
  margin: 0 auto;
  text-align: center;
}
.user-btn {
  border: black solid 1px;
  margin-left: 5px;
}
